{% extends "layouts/admin.twig" %}

{% block body %}
    <h2>Markdown Publisher</h2>

    <hr>

    <h3>Publishing...</h3>

    Inserted Items: {{insertedContent|length}} <br/>
    Updated Items: {{updatedContent|length}} <br/>

{% endblock %}
